<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Turns</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" />
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="~/css/materialize.min.css" media="screen,projection" />
</head>
<body>
    <header>
        <nav>
            <div class="nav-wrapper indigo darken-4">
                <a href="#!" class="brand-logo center"><img src="https://i.imgur.com/RIIgQnP.png" class="responsive-img" alt="Appointments" /></a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-controller="Speciality" asp-action="Index">Speciality</a></li>
                    <li><a asp-controller="Patient" asp-action="Index">Patient</a></li>
                    <li><a asp-controller="Physician" asp-action="Index">Physician</a></li>
                </ul>
            </div>
        </nav>

        <ul class="sidenav" id="mobile-demo">
            <li><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li><a asp-controller="Speciality" asp-action="Index">Speciality</a></li>
            <li><a asp-controller="Patient" asp-action="Index">Patient</a></li>
            <li><a asp-controller="Physician" asp-action="Index">Physician</a></li>
        </ul>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Turns - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="~/js/materialize.min.js"></script>
    @RenderSection("Scripts", required: false)
    <script>
        $(document).ready(function () {
            $('.sidenav').sidenav();
        });
    </script>
</body>
</html>
