@model TurnsBackFront.Models.Speciality

@{
    ViewData["Title"] = "Editing " + Model.Description + " Speciality";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    <h5>Speciality</h5>
    <hr />
    <div class="row">
        <div>
            <form class="col-s12" asp-action="Edit">
                <div asp-validation-summary="ModelOnly"></div>
                <input type="hidden" asp-for="SpecialityId" />
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">subject</i>
                        <input asp-for="Description" type="text" class="validate">
                        <label asp-for="Description"></label>
                        <span asp-validation-for="Description"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col s6 m6">
                        <button class="btn waves-effect waves-light green accent-3" type="submit" name="action">
                            save
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                    <div class="col s6 m6">
                        <a asp-action="Index" class="waves-effect waves-light btn indigo darken-3"><i class="material-icons left">undo</i>return</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>