@model IEnumerable<TurnsBackFront.Models.Speciality>

@{
    ViewData["Title"] = "Specialities";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        <a asp-action="Create" class="btn-floating btn-large green accent-3"><i class="material-icons">add</i></a>
    </p>
    <table class="responsive-table highlight z-depth-1 striped green accent-1">
        <thead class="green accent-3">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => item.Description)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.SpecialityId"><i class="material-icons indigo-text darken-3">edit</i></a>
                        <a asp-action="Delete" asp-route-id="@item.SpecialityId"><i class="material-icons red-text">delete</i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>