@model IEnumerable<TurnsBackFront.Models.Speciality>

<p>
	<a asp-action="Create">Create</a>
</p>

<table>
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Description)
			</th>
		</tr>
	</thead>
	<tbody>
		@* We will eventually put the code here to show the records from the database *@
		@foreach (var item in Model)
		{
		<tr>
			<td>
				@Html.DisplayFor(model => item.Description)
			</td>
			<td>
				<a asp-action="Edit" asp-route-id="@item.SpecialityId">Edit</a>
				<a asp-action="Delete" asp-route-id="@item.SpecialityId">Delete</a>
			</td>
		</tr>
		}
	</tbody>
</table>