<!DOCTYPE html>
<html>
	<head>
		<title>Specialities</title>
	</head>
	<body>
		<table>
			<thead>
				<tr>
					<th>
						Description
					</th>
				</tr>
			</thead>
			<tbody>
				@* We will eventually put the code here to show the records from the database *@
				<tr>
					<td>
						Orthopedist
					</td>
				</tr>
				<tr>
					<td>
						Cardiologist
					</td>
				</tr>
			</tbody>
		</table>
	</body>
</html>